.App {
  display: flex;
  flex: 1;
  /* justify-content: space-between; */
  margin: 0px;
  padding: 0px;
}
.app_left {
  display: flex;
  flex: 0.25;
}
.app_middle {
  flex: 0.2;
}
.app_right {
  flex: 0.4;
}
