.App {
  display: flex;
  flex: 1;
  /* justify-content: space-between; */
  margin: 0px;
  padding: 0px;
}
.app_left {
  border-right: 2px solid #f3f1f6;
  padding-right: 15px;
  display: flex;
  flex: 0.25;
}
.app_middle {
  flex: 0.5;
}
.app_right {
  display: flex;
  border-left: 2px solid #f3f1f6;
  padding: 15px;

  flex: 0.25;
}
